.button {
    width: 200px;
    height: 48px;
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    transition: all .5s;
    font-size: 2rem;

    &--primary {
        background-color:$color-primary;

        &:hover {
            background-color: $color-secondary;
        }
    }

    &--secondary {
        background-color:$color-secondary-dark;
        color: $color-white;

        &:hover {
            background-color: $color-primary;
        }
    }

}