.form {


    &__group{
        margin-bottom: 40px;
    }

    &__input {
        border: 0;
        background-color: transparent;
        border-bottom: 2px solid $color-primary;
        transition: all .5s;
        width: 500px;
        color: $color-white;
        padding-bottom: 10px;
        font-size: 1.5rem;

        &:focus {
            border: 0;
            box-shadow: none;
            outline: 0;
            background-color: transparent;
            border-bottom: 2px solid $color-secondary
        }

        &::placeholder {
            color: $color-white;
        }
    }
}

@media screen and (max-width: 768px) {
    .form {

        &__input {
            width: 100%;
        }
    }
}