$fontPath: "../font/";

@font-face {
    font-family: "FuturaLight";
    src: url($fontPath + "FuturaLight.ttf");
}

@font-face {
    font-family: "OktaNeue";
    src: url($fontPath + "OktaNeue-BlackItalic.otf");
}

@font-face {
    font-family: "UltraLight";
    src: url($fontPath + "OktaNeue-UltraLight.otf");
}

@font-face {
    font-family: "OktaNeue-BlackItalic";
    src: url($fontPath + "OktaNeue-BlackItalic.otf");
}

// Playfair

@font-face {
    font-family: "Playfair-Black";
    src: url($fontPath + "Playfair/Black.ttf");
}

@font-face {
    font-family: "Playfair-BlackItalic";
    src: url($fontPath + "Playfair/BlackItalic.ttf");
}

@font-face {
    font-family: "Playfair-Bold";
    src: url($fontPath + "Playfair/Bold.ttf");
}

@font-face {
    font-family: "Playfair-BoldItalic";
    src: url($fontPath + "Playfair/BoldItalic.ttf");
}

@font-face {
    font-family: "Playfair-Extrabold";
    src: url($fontPath + "Playfair/Extrabold.ttf");
}

@font-face {
    font-family: "Playfair-ExtraboldItalic";
    src: url($fontPath + "Playfair/ExtraboldItalic.ttf");
}

@font-face {
    font-family: "Playfair-Italic";
    src: url($fontPath + "Playfair/Italic.ttf");
}

@font-face {
    font-family: "Playfair-Medium";
    src: url($fontPath + "Playfair/Medium.ttf");
}

@font-face {
    font-family: "Playfair-MediumItalic";
    src: url($fontPath + "Playfair/MediumItalic.ttf");
}

@font-face {
    font-family: "Playfair-Regular";
    src: url($fontPath + "Playfair/Regular.ttf");
}

@font-face {
    font-family: "Playfair-Semibold";
    src: url($fontPath + "Playfair/Semibold.ttf");
}

@font-face {
    font-family: "Playfair-SemiboldItalic";
    src: url($fontPath + "Playfair/SemiboldItalic.ttf");
}

.heading {
    &--primary {
        font-size: 10.8rem;
        // text-shadow: 0 3px 6px $color-black;
    }

    &--secondary {
        font-size: 5.1rem;
        // text-shadow: 0 3px 6px $color-black;
    }

    &--tertiary {
        font-size: 3rem;
        // text-shadow: 0 3px 6px $color-black;

        display: inline-block;
        padding-bottom: 5px;
        border-bottom: 2px solid $color-primary;
    }

    &--forthy {
        font-family: "FuturaLight", serif;
        font-size: 2rem;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .heading {
        &--primary {
            font-size: 6.8rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .heading {
        &--primary {
            font-size: 3.8rem;
        }

        &--secondary {
            font-size: 3.1rem;
        }

        &--tertiary {
            font-size: 2rem;
        }

        &--forthy {
            font-size: 1.5rem;
        }
    }
}
