.about {
    .mission-vesion {
        font-family: "Playfair-Bold", serif;
        font-size: 15rem;
        color: $color-white;
        position: relative;
        line-height: 1;
        height: 250px;
        margin-bottom: 70px;
    }

    .mission {
        position: absolute;
        right: 0;
        opacity: 0.6;
        z-index: 99999;
        text-transform: uppercase;
    }

    .getto-knows .mission {
        left: 0;
    }

    .vision {
        position: absolute;
        left: 0;
        bottom: 0;
        opacity: 0.6;
        text-transform: uppercase;

        &.right {
            left: unset;
            right: 41%;
        }
    }

    .values {
        font-family: "Playfair-Bold", serif;
        font-size: 15rem;
        color: $color-white;
        text-align: right;

        span {
            opacity: 0.7;
        }
    }

    .heading--forthy {
        font-family: "UltraLight", serif; // overwrite font family
    }
}
.main {
    &--about {
        // background: linear-gradient(0deg, $color-white 0%, #32323ae0 9%, #32323ad1 69%, #2d3034 100%),
        // url(../images/about-layout.png);
        background-image: linear-gradient(to bottom, #383a40 20%, #ffffffe0);
        background-position: 50% 50%;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            background-image: url(../images/about-layout.png);
            width: 100%;
            height: 100%;
            background-size: 140%;
            background-position: -40% 0%;
        }
    }
}

@media screen and (max-width: 1200px) {
    .about {
        .mission-vesion {
            height: 200px;

            .mission {
                font-size: 10rem;
            }
            .vision {
                font-size: 10rem;
            }
        }
        .heading--forthy {
            width: 100%;
            text-align: left;
        }
    }
}

@media screen and (max-width: 768px) {
    .about {
        .mission-vesion {
            height: 150px;

            .mission {
                font-size: 8rem;
            }
            .vision {
                font-size: 8rem;
            }
        }
        .values {
            font-size: 8rem;
        }
        .heading--forthy {
            width: 100%;
            text-align: left;
        }
    }
}

@media screen and (max-width: 480px) {
    .about {
        .mission-vesion {
            height: 120px;
            .mission,
            .vision {
                font-size: 6rem;
            }
        }
        .values {
            font-size: 6rem;
        }
    }
}
