.main {
    &--contact-us {
        background: linear-gradient(0deg, #847f7f 0%, #32323ae0 9%, #32323ad1 69%, #383a40 100%);
        background-position: 50% 50;

        .get-in-touch,
        .sens-us-message {
            font-family: "Playfair-Bold", serif;
            font-size: 7rem;
            width: 30%;
            margin: 0 auto;
            text-align: center;
            color: $color-grey;
            position: relative;
            line-height: 1;
            margin-bottom: 70px;
        }

        .sens-us-message {
            margin: 70px auto;
        }

        .contact-us {
            &__social-links {
                display: flex;
                align-items: center;
                justify-content: space-around;

                font-family: "FuturaLight", serif;

                .link {
                    font-size: 1.5rem;
                    text-align: center;
                    flex-basis: 33.33%;

                    .img {
                        width: 30px;
                        margin-bottom: 20px;
                        margin: 10px auto;
                    }

                    & > * {
                        display: block;
                    }

                    &:not(:last-child) {
                        border-right: 1px solid $color-primary;
                    }
                }
            }

            &__form {
                font-family: "FuturaLight", serif;
                width: 500px;
                margin: 0 auto;

                .button {
                    height: 35px;
                    width: 170px;
                    font-size: 1.5rem;
                }
            }

        }
    }
}

.contact-us__footer {
    margin-top: 100px;

    &__items {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        margin: 0 auto;
        // border-bottom: 1px solid $color-grey;
        // padding-bottom: 10px;
    }

    &__item {
        margin: 0 20px;
    }

    &__link {
        display: inline-block;
        height: 20px;
    }

    &__img {
        height: 100%;
    }

    &__copyrights {
        width: 20%;
        margin: 10px auto;
    }
}

// @media 
@media screen and (max-width: 768px){
    .main {
        &--contact-us {
            .get-in-touch,
            .sens-us-message {
                width: 90%;
                font-size: 5rem;
            }
     

            .contact-us {
                &__form {
                    width: 90%;
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    .main {
        &--contact-us {
            .get-in-touch,
            .sens-us-message {
                width: 90%;
                font-size: 5rem;
            }
     

            .contact-us {
               &__social-links {
                   flex-direction: column;

                   .link {
                       margin-bottom: 10px;
                       
                    &:not(:last-child) {
                        border-right: none
                    }
                   }
               }
            }
        }
    }
}