.header {
    &--home {
        .header__title {
            top: 65%;
        }
    }
}

// Main
.main {
    &--home {
        background-color: $color-grey;
        background: linear-gradient(0deg, $color-white 0%, #32323ae0 9%, #32323ad1 69%, #2d3034 100%),
            url(../images/main.png);
        background-position: 70%;
        padding: 0 !important;

        .our-info {
            width: 70vw;
            height: 300px;
            margin-bottom: 200px;
            position: relative;
            background-size: cover;
            background-position: center;
            transition: all 0.8s;
            // background:
            &::after {
                content: "";
                width: 50%;
                border: 1px solid $color-primary;
                position: absolute;
            }

            &::before {
                content: "";
                width: 50%;
                border: 1px solid $color-primary;
                position: absolute;
            }

            &--right {
                margin-left: auto;

                .our-info__title {
                    font-family: "Playfair-Bold", serif;
                    left: -200px;
                }

                .our-info__details {
                    font-family: "FuturaLight", serif;
                    right: 30px;
                }

                &::after {
                    top: -15px;
                }

                &::before {
                    bottom: -10px;
                    right: 0;
                }
            }

            &--left {
                margin-right: auto;

                .our-info__title {
                    right: -200px;
                }

                .our-info__details {
                    left: 30px;
                }

                &::after {
                    top: -15px;
                    right: 0;
                }

                &::before {
                    bottom: -10px;
                    left: 0;
                }
            }

            &__title {
                font-size: 7rem;
                font-weight: bold;
                width: 400px;
                position: absolute;
                text-align: center;
                line-height: 1;
                top: 50px;
            }

            &__details {
                font-size: 2rem;
                font-weight: 100;
                width: 60%;
                text-align: left;

                position: absolute;
                bottom: 30px;
            }

            @for $img from 1 through 3 {
                &--#{$img} {
                    background-image: $gradient-overlay, url(../images/home-img-#{$img}.png);
                    &:hover {
                        cursor: pointer;
                        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                            url(../images/home-img-#{$img}.png);
                    }
                }
            }

            // &--1 {
            //     background-image: $gradient-overlay, url(../images/home-img-1.png);
            //     &:hover {
            //         cursor: pointer;
            //         background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/home-img-1.png);
            //     }
            // }

            // &--2 {
            //     background-image: $gradient-overlay, url(../images/home-img-2.png);
            // }

            // &--3 {
            //     background-image: $gradient-overlay, url(../images/home-img-3.png);
            // }
        }
    }
}

@media screen and (max-width: 768px) {
    .main--home {
        .our-info {
            width: 100%;
            margin-bottom: 50px;
            min-height: 300px;

            &__title {
                width: 100%;
                font-size: 3rem;
                position: unset !important;
                padding: 30px;
                text-align: left;
            }

            &__details {
                width: 100%;
                position: unset !important;
                padding: 0 30px;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .main--home {
        .our-info {
            height: 400px;
        }
    }
}
