.main {
    &--members-area {
        background: linear-gradient(0deg, $color-white 0%, #32323ae0 9%, #32323ad1 69%, #2d3034 100%),
            url(../images/about-layout.png);
        background-position: 50% 50;

        min-height: 200vh; // for testing 
    }
}