.main {
    &--members-area {
        background: linear-gradient(0deg, #9595a2 0%, #32323ae0 9%, #32323ad1 69%, #3a3b3f 100%),
            url(../images/about-layout.png);
        background-position: 50% 50;

        min-height: 200vh; // for testing 
        position: relative;
    }
}