.main {
    &--product {
        background: linear-gradient(0deg, #fff 70%, #33363c 100%, #33353a 98%), url(../images/about-layout.png);
        background-position: 50% 50%;
    }

    .products {
        font-size: 0; // for alignment purpose

        &__head {
            text-align: center;
            margin-bottom: 150px;
            .heading {
                font-family: "UltraLight", serif;
                font-size: 5rem;
                color: #444444;
            }

            .img {
                height: 150px;
            }
        }

        &__items {
            margin-top: 150px;
        }

        &__item {
            font-family: "UltraLight", serif;
            color: $color-black;
            margin-bottom: 100px;

            display: flex;
            align-items: center;
            justify-content: space-between;

            .info {
                font-family: "UltraLight", serif;
                min-width: 300px;
                margin-right: 5%;

                .wrapper {
                    width: 100%;
                    min-height: 300px;
                    background-color: $color-secondary-dark;
                    border-radius: 40px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .img {
                        width: 70%;
                    }
                }

                .label {
                    font-weight: bold;
                    font-size: 5rem;
                    text-align: center;
                }
            }

            .details {
                .img-loading {
                    display: block;
                    margin: 0 auto;
                    margin-top: 10px;
                    width: 40px;
                    animation: rotate 1s infinite;
                }

                & > p {
                    font-family: "UltraLight", serif;
                }

                .learn-more {
                    line-height: 48px;
                    text-align: center;
                }
            }

            &--right {
                flex-direction: row-reverse;

                .info {
                    margin-right: 0;
                    margin-left: 5%;
                }
            }
        }

        .what-we-offer {
            font-family: "Playfair-Bold", serif;
            width: 50%;
            text-align: center;
            font-size: 15rem;
            color: $color-white;
            line-height: 100px;
            height: 250px;

            & > span {
                opacity: 0.6;
            }

            & span:nth-child(2) {
                opacity: 0.6;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .main .products {
        .what-we-offer {
            font-size: 7rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .main .products {
        &__item {
            flex-direction: column;
        }

        .u-d-flex {
            display: block;
        }
        .what-we-offer {
            display: block;
            width: 100%;
            height: auto;

            span {
                display: inline-block;
            }

            & + div {
                display: block;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .main {
        &--product {
            background: linear-gradient(0deg, $color-white 80%, #32323ae0 93%, #32323ad1 89%, #2d3034 100%),
                url(../images/about-layout.png);
        }

        .products {
            &__head {
                .img {
                    height: 100px;
                }
            }
            .info {
                // width: 100%;
                margin-left: 0;
                margin-right: 0;

                .wrapper {
                    width: 200px;
                    min-height: 200px;
                    border-radius: 20px;
                    margin: 0 auto;
                }
            }
        }
    }
}
