// Header Start
.header {
  height: 103vh;
  background-color: $color-grey;
  background-image: url("../images/hero.png");
  background-size: cover;
  background-position: center;
  position: relative;

  &--about {
    background-image: url(../images/about.png);

    .nav__link {
      color: $color-grey-dark;
    }
  }

  &--contact-us {
    background-image: url(../images/services.png);
  }

  &--members-area {
    background-image: url(../images/members-area.png);
    background-size: cover;

    .nav__link {
      color: $color-grey-dark;
    }
  }

  &--services {
    background-image: url(../images/services.png);

    .nav__link {
      color: $color-grey-dark;
    }
  }

  &--product {
    background-image: url(../images/product.png);

    .nav__link {
      color: $color-grey-dark;
    }
  }

  &--contact-us {
    background-image: url(../images/contact-us.png);
    background-size: cover;

    .nav__link {
      color: $color-grey-dark;
    }
  }

  &--product-ucount {
    background: $color-secondary-dark;
  }

  &--product-ufit {
    background: $color-black;
  }

  &--product-uloyal {
    background: $color-grey-dark;
  }

  .logo {
    width: 200px;

    &__img {
      width: 100%;
      height: 100%;
      margin: 30px;
    }
  }

  .logo {
    width: 200px;
    &-img--u {
      height: 40px;
    }
  }

  .nav {
    transition: all 0.5s;
    &__items {
      list-style: none;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__item {
      margin-right: 28px;
      transition: all 0.5s;
      position: relative;

      &--dropdown {
        display: none;
        position: absolute;
        z-index: 10;
        background: $color-primary;
        color: $color-white;
        list-style: none;
        width: 150px;

        .child-item {
          padding: 6px;
          border-bottom: 1px solid $color-secondary;
          font-size: 1.4rem;
          cursor: pointer;
          transition: all 0.3s;

          .child-link {
            display: block;
          }

          &:hover {
            background-color: $color-grey;
          }
        }
      }
    }

    &__link {
      font-size: 2.5rem;
      display: inline-block;
      border-bottom: 2px solid transparent;
      position: relative;

      &--active {
        color: $color-primary;
        // border-bottom: 2px solid $color-primary;
      }
      &::after {
        content: "";
        width: 0;
        height: 2px;
        background-color: $color-primary;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all 0.5s ease-in-out;
      }

      &--active::after {
        width: 30px;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }

  .welcome {
    text-align: center;
    width: 100%;

    .scroll-icon {
      display: block;
      height: 35px;
      margin: 0 auto;
      animation: topBottom 1s infinite alternate;
    }
  }

  .close-btn {
    display: none;
  }
}
// Header End

@media screen and (max-width: 768px) {
  .header .nav {
    left: -300px;
    width: 300px;
    position: absolute;
    top: 0;
    z-index: 99999;
    height: 100vh;

    &__items {
      flex-direction: column;
      margin-top: 50px;
    }

    &__item {
      display: block;
      width: 100%;
      margin: 0;
      color: #fff;
      padding: 5px 20px;
      margin-right: 0 !important;
      background-color: $color-primary-light;
      margin-bottom: 5px;
    }

    &__link {
      font-size: 2rem;
    }

    & .toggle-side-menu {
      font-size: 1.5rem;
      position: absolute;
      right: 5px;
      top: 5px;
    }

    & .close-btn {
      display: block;
    }

    &.isMobile {
      & {
        left: 0;
        background-color: #333;
      }
    }
  }
}
