// Margin
.u-margin-bottom-big {
    margin-bottom: 50px;
}
.u-margin-bottom-small {
    margin-bottom: 20px;
}

// Align
.u-text-center {
    display: block;
    text-align: center;
}

.u-v-center {
    transform: translateY(50%);
}

// Width
.u-50 {
    display: block;
    width: 50%;
}

.u-w-40 {
    width: 40%;
}

.u-w-50 {
    width: 50%;
}

// Color
.u-error {
    color: $color-primary;
}
// No Scroll
.no-scroll {
    height: 100vh;
    overflow: hidden;
}
