$color-primary: #D63232;
$color-primary-light: #cc5e5e;
$color-secondary: #053861;
$color-secondary-dark: #03052B;
$color-white: #fff;
$color-green: #090;
$color-black: #000;
$color-grey: #ccc;

$gradient-overlay: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));